body, html{
  font-family: monospace;
  font-size: 20px;
  background-image: linear-gradient(#d9e8c1,#d9e8bc);
}
div{
  width: 500px;
  /* text-align: center; */

  text-align:justify;
text-justify:inter-word;
}
